# Dagster configuration
app:
  name: "price_app"
  version: "1.0.0"

dagster:
  module_name: "price_app"
  home: ${oc.env:PROJECT_ROOT}/../dagster_home

assets:
  modules:
    - "assets.base_assets"
    - "assets.stocks.stocks_assets"
    - "assets.indices.indices_assets"
    - "assets.futures.futures_assets"
  directories: []

jobs: []

ops:
  modules: []
  directories: []
