# Dagster configuration
app:
  name: "price_app"
  version: "1.0.0"

dagster:
  module_name: "price_app"
  home: ${oc.env:PROJECT_ROOT}/../dagster_home

assets:
  modules: [assets.stock_price_assets]
  directories: []

jobs: []

ops:
  modules: []
  directories: []
